ecad/*/History/*
ecad/*/__Previews/*
ecad/*/Project Logs for Flovv/*
*.sdf

*.npa00
*.npd
*.rdb
*.rsp
*.idx
*.npa01
*.ast
*.psf
*.dat
*.000
*.001
*.npa
*.npa00-c7aa3244

*.dep
*.map
*.o

*.lck
*.log
*.opensdf
*.suo

*.TMP
Mpirum_visualGDB/Mpirum_visualGDB.VC.db
Mpirum_visualGDB/CodeDB/Mpirum_visualGDB-Debug-Win32/main-00001.hpa00
Mpirum_visualGDB/CodeDB/Mpirum_visualGDB-Debug-Win32/main-00001.hpd
*.npa00-4275f470
*.npa00-31191759
*.npa00-3be7d729
*.npa00-765c006e
*.npa00-7f752cb2
*.npa00-b258886a
*.npa00-35eb2554
*.npa00-93ed1e97
*.npa00-73a24f5c
*.npa00-89f03e57
*.npa00-eca8a016
*.npa00-f4716ac3
*.npa00-87263ea0
*.npa00-9279ffad
Mpirum_visualGDB/CodeDB/Mpirum_visualGDB-Debug-Win32/*
Mpirum_visualGDB/CodeDB/
*.lck
Mpirum_visualGDB/Mpirum_visualGDB.VC.VC.opendb
Mpirum_visualGDB/Mpirum_visualGDB/VisualGDBCache/Mpirum_visualGDB-Debug/MemoryUtilizationReport.xml
